# Versioning and metadata
.git
.gitignore
.dockerignore

# Build dependencies
dist
node_modules
coverage
.nyc_output

# Environment (contains sensitive data)


# Files not required for production
.editorconfig
docs
Dockerfile*
docker-compose.yml
README.md
tslint.json